{% extends "base.html" %}

{% block body %}
<form action='' id='form' method="post">

<div class="nav">
<table class="nav">
  <tr class="brown">
    <td>
    <img class='banner' src="{{url_for('static', filename='banner_logo.png')}}" alt="" width="300" height="52" />
    </td>

    <td class='title' style="width: 100px"></td>

    <td class="menu" style="width: 200px">
      <button class="menu" onclick="traducir()">TRADUCIR</button>
      </td>
    <td class="menu" style="width: 200px"><a href="ayuda">AYUDA</a></td>
    <td class="menu" style="width: 200px"><a href="acerca">ACERCA</a></td>
    <td class="menu" style="width: 200px"><a href="contacto">CONTACTO</a></td>

  </tr>
</table>
</div>

<table class="main">
<tr>
<td colspan='3' style="width: 1212px">

<div id="cargando">
<h1>Tereg̃uahẽporãite Mainumby-pe</h1>

  <!--
<h2>Temas</h2>
  <ul>
    <li><a href="#general">Uso en general</a></li>
    <li><a href="ayuda_ora">Traducción de palabras, frases, oraciones</a></li>
    <li><a href="ayuda_doc">Traducción de documentos</a></li>
  </ul>

  <h2 id="general">Uso en general</h2>
  -->
  
  <h2>¿Qu&eacute; es Mainumby?</h2>
  <p>
  Mainumby es una aplicación experimental que ayuda a traducir del
  castellano al guaraní.
  Consiste en un <strong>traductor automático
  rudimentario</strong> y una interfaz para usuarios en este sitio web.
  Ofrece sugerencias para la traducción de palabras,
  frases, oraciones, y documentos enteros.
  Se basa en varios diccionarios digitalizados, especialmente <a
  href="https://www.worldcat.org/title/neeryru-avanee-karainee-karainee-avanee-diccionario-guarani-espanol-espanol-guarani/oclc/807255046">el
  de Krivoshein de Canese y Acosta</a>, y las descripciones de la
  gramática guaraní de <a
  href="https://books.google.com/books?id=1AEvAAAAYAAJ">Krivoshein de
  Canese y Acosta</a>, de <a
  href="https://books.google.com/books?id=fh5HPwAACAAJ&dq=ayala+gram%C3%A1tica+guaran%C3%AD&hl=es&sa=X&ved=0ahUKEwiTxuuF2c3pAhVKnp4KHSnkASAQ6AEIKDAA">Ayala</a>,
  y de <a
  href="https://books.google.com/books?id=6AQvAAAAYAAJ&q=zarratea+gram%C3%A1tica+guaran%C3%AD&dq=zarratea+gram%C3%A1tica+guaran%C3%AD&hl=es&sa=X&ved=0ahUKEwiUp7Sl2c3pAhWUtJ4KHUhAA7oQ6AEIKDAA">Zarratea</a>. 
  </p>

  <p>
  Para informarte más sobre la motivación y la teoría detrás de
  Mainumby, seleccioná
  <a href="acerca"><img src="{{url_for('static', filename='acerca.png')}}" style="width: 75px;
  vertical-align:middle" alt="ACERCA" /></a>.
  </p>

  <h2>¿Para qui&eacute;nes es?</h2>
  <p>
  Si estás aprendiendo la lengua Guaraní, pod&eacute;s usar Mainumby
  cuando quer&eacute;s traducir palabras o frases simples castellanas.
  Como tiene <strong>conocimiento de la <a
  href="https://es.wikipedia.org/wiki/Morfolog%C3%ADa_ling%C3%BC%C3%ADstica">morfología</a></strong>
  de los dos idiomas, o sea, la estructura de palabras, Mainumby sabe traducir elementos gramaticales.
  Por ejemplo, traduce el verbo <i>compr&eacute;</i> como
  <i>ajoguákuri</i> (entre otras posibilidades), preservando el sujeto
  del verbo (1º persona singular, realizado como el prefijo <i>a-</i>)
  y el <a
  href="https://es.wikipedia.org/wiki/Tiempo_gramatical">tiempo</a>
  (pret&eacute;rito, realizado como el sufijo 
  <i>-kuri</i>).
  Tambi&eacute;n sabe cómo una sola palabra
  guaraní puede corresponder a una frase castellana.
  Por ejemplo, traduce la frase <i>no estoy comprando</i> como
  <i>ndajoguai’aína</i>, preservando la <a
  href="https://es.wikipedia.org/wiki/Negaci%C3%B3n_%28gram%C3%A1tica%29">negación</a>
  (el prefijo <i>nda-</i> y el sufijo <i>-i</i>) y el <a href="http://www.wikilengua.org/index.php/Aspecto">aspecto</a>
  progresivo o durativo (el sufijo <i>-aína</i>).
  </p>

  <p>Por otro lado, no se puede contar con traducciones adecuadas para
oraciones completas complejas.
Esto se debe a tres tipos de limitaciones del programa.
</p>
<ol>
  <li>
  El diccionario de Mainumby está bastante restringido; consiste en
  palabras y frases extraídas de los pocos diccionarios bilingües que
  están dispuestos en forma digital y gratis, y por eso faltan muchas palabras.</li>
  <li>Cuando Mainumby tiene varias traducciones para una palabra, no
  sabe distinguirlas; nada mas presenta las alternativas al usuario.
  Por ejemplo, cuando intenta traducir la oración <i>llegando tarde a
  la clase, el alumno le molestó al maestro</i>, no sabe escoger una de las cuatro traducciones del verbo
  <i>molestar</i> que tiene en su diccionario:
  <i>myangekói</i>, <i>hesako'õ</i>, <i>moñeko'õi</i>, y <i>mbyaju</i>.
  <li>Al nivel sintáctico, el castellano y el guaraní son idiomas muy
  diferentes, y no hay correspondencias exclusivas entre algunas estructuras
  castellanas y estructuras guaraníes.
  En esos casos, Mainumby queda confundido y deja la frase castellana sin traducción.
  Un ejemplo es el <a
  href="https://es.wikipedia.org/wiki/Gerundio#Gerundio_en_castellano">gerundio</a>.
  Además de su uso despu&eacute;s de <i>estar</i> en el aspecto
  progresivo,
  Mainumby no sabe traduce esta forma al guaraní.
  </li>
</ol>

  <h2>¿Cómo empezar?</h2>
<p>
Aunque Mainumby se puede usar en los smartphones (tel&eacute;fonos
  inteligentes), el programa no está optimizado para tel&eacute;fonos
  y se recomenda que lo uses en una computadora.
</p>
<p>
  Para mostrar la interfaz de traducción, seleccioná
  <a href="tra" target="_blank"><img src="{{url_for('static', filename='traducir.png')}}" style="width: 100px;
vertical-align:middle" alt="TRADUCIR" /></a>.
  Para evitar la página de inicio (esta página) y ir directamente a la interfaz de
traducción, marcá esa página como favorita en
tu navegador.
</p>

<p>En la página de traducción hay dos interfaces, una para la
traducción de palabras, frases, y oraciones simples, una para documentos almacenados en archivos.
Pod&eacute;s elegir entre estas dos opciones con los botones en la parte superior izquierda 
de la ventana.
</p>
  <img class="instructions"
  src="{{url_for('static', filename='oradoc.png')}}" style="width:500px;" alt="ora doc" />
<p>
Para instrucciones detalladas, seleccioná
  <a href="ayuda" target="_blank"><img src="{{url_for('static', filename='ayuda.png')}}" style="width: 72px;
  vertical-align:middle" alt="AYUDA" /></a>.
</p>

<h2>¿Cómo apoyar?</h2>
<p>
Como ya explicado, Mainumby está bastante limitado, tanto en su
diccionario bilingüe como en su conocimiento de las correspondencias
gramaticales entre los dos idiomas.
Si manejás el guaraní, pod&eacute;s apoyar el proyecto.
Cada vez que un usuario bilingüe usa el programa para traducir
oraciones castellanas, ya sea por aceptar la traducción ofrecida por
Mainumby o sea por corregirla,
el programa actualiza de nuevo su base de datos, así mejorando su desempeño
futuro.
</p>
<p>
Además tenemos un <a href="https://groups.google.com/forum/#!forum/mainumby-disc">
grupo de Google</a> para los usuarios de Mainumby.
Si te quer&eacute;s juntar al grupo,
enviale un correo a <a href="mailto:gasser@indiana.edu?Subject=Grupo%20de%20Google%20para%20Mainumby">Michael Gasser</a>.
</p>

</td>
</tr>
</table>

</form>

</div>
{% endblock %}

{% block script %}
<script>
function documento() {
    cargando();
    window.location.assign("doc");
}
function ingresar() {
    form = document.getElementById("form");
    form.action = "login";
    form.submit();
}
function traducir() {
    cargando();
    form = document.getElementById("form");
    form.action = "tra";
    form.submit();
}
</script>
{% endblock %}
