{% extends "base.html" %}

{% block body %}
<form action='' id='form' method="post">

<table class="left">
  <tr class="brown">
    <td class="title">
    <a href="/">
    <img class='banner' src="{{url_for('static',
      filename='banner_logo.png')}}" alt="" width="300" height="52" />
    </a>
    </td>
    <td class="title" style="width: 50px"></td>

    <td class="menu" style="width: 150px">
      <div class='despleg-wrap'>
      <button type="button" class="despleg" onclick="mostrarDespleg()">TRADUCIR ▾</button>
      <div id="menudespleg" class="contenido-despleg">
        <span class='opinic' onclick="traducir()">ORACIÓN</span>
	<span class='opinic' onclick="ingresar()">DOCUMENTO</span>
      </div>
      </div>
    </td>
    <td class="menu" style="width: 150px">
       <button class="menu" onclick="ingresar()">INICIAR SESIÓN</button></td>
    <td class="menu" style="width: 150px"><a href="proyecto">PROYECTO</a></td>
    <td class="menu" style="width: 150px"><a href="contacto">CONTACTO</a></td>

  </tr>
<tr>
<td colspan='6' style="width: 1200px">

<h1>Acerca de Mainumby</h1>

<div id="cargando">
<h2>¿Qu&eacute; es?</h2>

<p>
Mainumby es una aplicación experimental que ayuda a traducir del
castellano al guaraní.
Actualmente consiste en un <strong>traductor automático
  rudimentario</strong> y una interfaz para usuarios en este sitio
  web.
</p>
<p>
Un usuario de Mainumby
introduce una palabra, una frase, una oración,
o un documento castellano que quiere traducir, y
el sistema le propone traducciones para frases en el texto.
El usuario puede seleccionar entre las opciones ofrecidas o
rechazarlas,
introduciendo su propia traducción, según su preferencia.
El sistema mantiene una memoria de la traducción creada por
el usuario, y el usuario puede guardar este texto en cada momento
durante el proceso.

<h2>¿Cómo funciona?</h2>

<p>
  Mainumby tiene un diccionario bilingüe de frases y
  conocimiento básico de la gramática castellana, la
  gramática guaraní, y las relaciones entre ellas.
  El diccionario y la gramática se basan en varios recursos publicados o
  disponibles en forma digital, pero todavía padece lagunas grandes.
</p>
<p>
  Para cada oración castellana que el usuario introduce, Mainumby
  analiza las palabras, extrayendo las raíces y las propiedades gramáticas.
  Entonces busca frases en la oración analizada que coinciden con frases en su diccionario.
  Finalmente, para cada frase coincidente genera una o más traducciones en guaraní, usando
  su conocimiento de la morfología y ortografía del idioma.
  En la interfaz, se le muestran estos resultados al usuario.
</p>
<p>
  Cuando el usuario corrige la salida del sistema o reemplaza una
  traducción por una diferente, Mainumby aprende de esta
  retroalimentación, mejorando su diccionario o su conocimiento
  gramatical.
  Además Mainumby añade la traducción producida por el usuario a una
  <strong>memoria de traducción</strong>, de manera que se use en sesiones futuras cuando
  otro usuario traduzca una oración semejante.
</p>
<p>
<a href="proyecto">Aprender más sobre el proyecto y la teoría detrás de Mainumby.</a>
</p>
						      
<h2>Para empezar</h2>
<p>
  Si quer&eacute;s traducir una palabra, una frase, o una oración corta, hac&eacute; clic en "ORACIÓN".<br/>  
  Si estás traduciendo un documento y quer&eacute;s usar la interfaz
  para traductores, hacé clic en "DOCUMENTO".
</p>

</form>
</div>
</td>
</tr>
</table>

{% endblock %}

{% block script %}
<script>
function ShowHelp() {
    var helpWin = window.open("", "Mainumby: Ayuda", "titlebar=yes,scrollbars=yes,status=no,top=200,left=200,width=600,height=400");
    helpWin.document.write('<html><head>' +
'<link rel="stylesheet" type=text/css href={{url_for("static", filename="style.css")}}/>' +
"<title>Mainumby: Ayuda</title></head><body>" +
"<h4 class='help'>Ayuda general para la aplicación</h4>" +
"</body></html>");
}
function ingresar() {
    form = document.getElementById("form");
    form.action = "login";
    form.submit();
}
function traducir() {
    form = document.getElementById("form");
    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Cargando base de datos (podría tardarse)...</span><p></p>";
    form.action = "tra";
    form.submit();
}
</script>
{% endblock %}
