{% extends "base.html" %}

{% block title %}
Mainumby: Ayuda
{% endblock %}

{% block body %}
<form action='' id='form' target="_blank" method="post">

<table class="left">
  <tr class="brown">
    <td>
    <a href="/">
    <img class='banner' src="{{url_for('static', filename='banner_logo.png')}}" alt="" width="300" height="52" />
    </a>
    </td>
    <td class="title" style="width: 100px"></td>

    <td class="menu" style="width: 200px">
      <button class="menu" onclick="traducir()">TRADUCIR</button>
      </td>
<!--    <td class="menu" style="width: 200px">
       <button class="menu"
  onclick="ingresar()">IDENTIFICARTE</button></td>
-->  
    <td class="menufuzzy" style="width: 200px">AYUDA</td>
    <td class="menu" style="width: 200px"><a href="acerca">ACERCA</a></td>
    <td class="menu" style="width: 200px"><a href="contacto">CONTACTO</a></td>

  </tr>
<tr>
<td colspan='6' style="width: 1200px">

<h1>Ayuda para Mainumby</h1>

<h2>Temas</h2>
  <ul>
    <li>Opciones generales</i>
    <li><a href="ayuda_ora">Traducción de palabras, frases,
    oraciones</a>
    <ul>
      <li>Introducir algo que traducir</li>
      <li>Seleccionar la traducción</li>
    </ul>
    </li>
    <li><a href="ayuda_doc">Traducción de documentos</a>
    </li>
  </ul>

<h2>Opciones generales</h2>
  <p>
  </p>

</td>
</tr>
</table>
</form>

{% endblock %}

{% block script %}
<script>
//function ingresar() {
//    form = document.getElementById("form");
//    form.action = "login";
//    form.submit();
//}
function traducir() {
    form = document.getElementById("form");
//    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Cargando base de datos (podría tardarse)...</span><p></p>";
    form.action = "tra";
    form.submit();
}
</script>
{% endblock %}
