<!doctype html>
<html lang="es">
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní: Contacto</title>

</head>

<body>

<form action='login' method="post">

<table class="center">
  <tr>
    <td class="title">
    <a href="base">
    <img class='banner' src="{{url_for('static',
      filename='banner_logo.png')}}" alt="" width="300"
      height="52" />
    </a>
    </td>
    <td class="menu" style="width: 250px"><a href="proyecto">PROYECTO</a></td>
    <td class="menu" style="width: 250px"><input type="submit" value="INICIAR SESÍON" class="menu"></td>

</tr>
<tr>
<td colspan="5" style="width:800px">  
<h2>Mainumby: contacto
  </h2>

  <h3>Para hacernos preguntas, sugerencias, críticas
  </h3>

  <p>
  Enviale un correo al director del proyecto,
  <a href="http://homes.soic.indiana.edu/gasser/">Michael Gasser</a>:
  <a href="mailto:gasser@indiana.edu?Subject=Mainumby">gasser ARROBA indiana PUNTO edu</a>.
  </p>

<h3>Para participar
  </h3>

<p>
  Tenemos un <a href="https://groups.google.com/forum/#!forum/mainumby-disc">
  grupo de Google</a> para los usuarios de Mainumby.
  En este grupo se puede compartir comentarios sobre el proyecto,
  sobre la traducción de palabras o frases específicas al guaraní, y sobre
  los desafíos de la traducción en el contexto paraguayo por lo general.
  Si te quer&eacute;s juntar al grupo,
  enviale un correo a <a href="mailto:gasser@indiana.edu?Subject=Grupo%20de%20Google%20para%20Mainumby">Michael Gasser</a>.
</p>

  <!--
<p>
Para iniciar una sesión con Mainumby, hac&eacute; clic en el enlace
"INICIAR" arriba.
</p>
-->

<hr/>

<!--
<p>
<input type="submit" value="Iniciar sesión" id="button">
</p>
-->

</td>
</tr>

</table>  

  </form>

</body>
</html>
