<!doctype html>
<html lang="es">
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní: Contacto</title>

</head>

<body>

<form id='form' action='login' method="post">

<table class="left">
  <tr class="brown">
    <td class="title">
    <a href="base">
    <img class='banner' src="{{url_for('static',
      filename='banner_logo.png')}}" alt="" width="300"
      height="52" />
    </a>
    </td>
    <td class="title" style="width: 625px"></td>

    <td class="menu" style="width: 140px">
      <div class='despleg-wrap'>
      <button type="button" class="despleg" onclick="mostrarDespleg()">TRADUCIR ▾</button>
      <div id="menudespleg" class="contenido-despleg">
        <span class='opinic' onclick="traducir()">ORACIÓN</span>
	<span class='opinic' onclick="ingresar()">DOCUMENTO</span>
      </div>
      </div>
      </td>
    <td class="menu" style="width: 160px">
       <button class="menu" onclick="ingresar()">INICIAR SESIÓN</button></td>
    <td class="menu" style="width: 140px"><a href="acerca">ACERCA DE</a></td>
    <td class="menufuzzy" style="width: 135px">CONTACTO</td>
<!--
    <td class="menu" style="width: 250px"><a href="proyecto">PROYECTO</a></td>
    <td class="menu" style="width: 250px"><input type="submit" value="INICIAR SESÍON" class="menu"></td>
-->
</tr>
</table>

<h1>Contacto</h1>

<div id="cargando">
  <h2>Para hacernos preguntas, sugerencias, críticas
  </h2>

  <p>
  Enviale un correo al director del proyecto,
  <a href="http://homes.soic.indiana.edu/gasser/">Michael Gasser</a>:
  <a href="mailto:gasser@indiana.edu?Subject=Mainumby">gasser ARROBA indiana PUNTO edu</a>.
  </p>

<h2>Para participar</h2>

<p>
  Tenemos un <a href="https://groups.google.com/forum/#!forum/mainumby-disc">
  grupo de Google</a> para los usuarios de Mainumby.
  En este grupo se puede compartir comentarios sobre el proyecto,
  sobre la traducción de palabras o frases específicas al guaraní, y sobre
  los desafíos de la traducción en el contexto paraguayo por lo general.
  Si te quer&eacute;s juntar al grupo,
  enviale un correo a <a href="mailto:gasser@indiana.edu?Subject=Grupo%20de%20Google%20para%20Mainumby">Michael Gasser</a>.
</p>

</div>

</form>

<script>
function ingresar() {
    form = document.getElementById("form");
    form.action = "login";
    form.submit();
}
function traducir() {
    form = document.getElementById("form");
//    document.getElementById("buttons").innerHTML = "";
    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Cargando base de datos (podría tardarse)...</span><p></p>";
    form.action = "tra";
    form.submit();
}
/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function mostrarDespleg() {
    menu = document.getElementById("menudespleg");
    list = menu.classList;
    list.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.despleg')) {
    var dropdowns = document.getElementsByClassName("contenido-despleg");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
</html>
