<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<script>
function OnEnviar()
{
    document.Form1.action = "sent"
    document.Form1.target = "_self";     // Same window
    document.Form1.submit();             // Submit the page
    return true;
}

function OnSalir()
{
    document.Form1.action = "fin"
    document.Form1.target = "_self";     // Same window
    document.Form1.submit();             // Submit the page
    return true;
}
</script>

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

<script>
function ShowHelp() {
    var helpWin = window.open("", "Mainumby: Ayuda", "resizable=yes,scrollbars=yes,top=200,left=200,width=700,height=400");
    helpWin.document.write('<html><head><link rel="stylesheet" type=text/css href={{url_for("static", filename="style.css")}}/></head></html>' +
"<body><p>Esto es la página de ayuda para Mainumby...</p></body></html>");
}
</script>

</head>

<body>

<h1>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</h1>

<p>
<span class='instruction'>
Introducí una o más oraciones para traducir.
</span>
</p>

<form name="Form1" method=POST>

<textarea name="text" id="text" ROWS=15 COLS=40></textarea>

<p>
<input type="submit" value="Enviar" name="enviar" onclick="return OnEnviar();" id="button">
</p>
<p>
<input type="submit" value="Salir de Mainumby" id="narrowlbbutton" name="salir" onclick="return OnSalir();">
</p>

</form>

<p>
<button id="help" onclick="ShowHelp();">Ayuda</button>
</p>

</body>

</html>