<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<script>
function OnEnviar()
{
    document.Form1.action = "sent"
    document.Form1.target = "_self";     // Same window
    document.Form1.submit();             // Submit the page
    return true;
}

function OnSalir()
{
    document.Form1.action = "fin"
    document.Form1.target = "_self";     // Same window
    document.Form1.submit();             // Submit the page
    return true;
}
</script>

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<h1>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</h1>

<!--
<h2>¡Bienvenido/a a Mainumby! Tereg̃uahẽ porãite Mainumby-me!
</h2>
-->

<!--
<h3>Uso</h3>
-->
<p>
<span class='instruction'>
Introducí una o más oraciones para traducir.
</span>
</p>

<form name="Form1" method=POST>

<TEXTAREA NAME="text" ROWS=15 COLS=75 style="font-family:
Verdana"></TEXTAREA>

<p>
<input type=submit value="Enviar" name="enviar" onclick="return OnEnviar();" id="button">
</p>
<p>
<input type=submit value="Salir de Mainumby" name="salir"sen onclick="return OnSalir();" id="button">
</p>

</form>

</body>

</html>