<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<!--
{% if modo == "ora" %}
<form method=POST action='tra'>
{% else %}
<form method=POST action='login'>
{% endif %}
-->
<form method=POST id='form'>

<table class="left">
  <tr class='brown'>
    <td class="title">
    <a href="base">
    <img class='banner' src="{{url_for('static',
      filename='banner_logo.png')}}" alt="" width="300px"
      height="52px" />
    </a>
    </td>

    <td class="title" style="width: 625px"></td>

    <td class="menu" style="width: 140px">
      <div class='despleg-wrap'>
      <button type="button" class="despleg" onclick="mostrarDespleg()">TRADUCIR ▾</button>
      <div id="menudespleg" class="contenido-despleg">
        <span class='opinic' onclick="traducir()">ORACIÓN</span>
	<span class='opinic' onclick="ingresar()">DOCUMENTO</span>
      </div>
      </div>
      </td>
    <td class="menu" style="width: 160px">
       <button class="menu" onclick="ingresar()">INICIAR SESIÓN</button></td>
    <td class="menu" style="width: 140px"><a href="acerca">ACERCA DE</a></td>
    <td class="menu" style="width: 135px"><a href="contacto">CONTACTO</a></td>

<!--
    <td class="title" style="width: 800px">
    </td>

    <td class="menu" style="width: 500px">
      <input type="submit" action="reiniciar" name="reiniciar"
      value="REINICIAR" class="menu">
      </td>
-->
  </tr>

</table>

</form>

<h1>¡Aguyje reiporu rehe Mainumby!</h1>

<div id="cargando">
</div>

<script>
function ingresar() {
    form = document.getElementById("form");
    form.action = "login";
    form.submit();
}
function traducir() {
    form = document.getElementById("form");
    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Cargando base de datos (podría tardarse)...</span><p></p>";
    form.action = "tra";
    form.submit();
}
/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function mostrarDespleg() {
    menu = document.getElementById("menudespleg");
    list = menu.classList;
    list.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.despleg')) {
    var dropdowns = document.getElementsByClassName("contenido-despleg");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>

</html>