<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<style type="text/css">
#continuebutton
{
        background-color: #00a;
        color: #fff;
        font-family: "Verdana";
        font-size: 100%;
        width: 20%;
        align: center;
}
#continuebutton:hover
{
        background-color: #00f;
}
span.username
{
        background-color: #f00;
        color: #fff;
}
</style>

<script>
function loading() {
    document.getElementById("loading").innerHTML = "<span class='cargando'>Cargando base de datos (podría tardarse)...</span>";
    window.location.assign("doc");
}
</script>

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<h1>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</h1>

<p class='center'>
Ingresaste como <span class="username">{{ username }}</span>.
</p>

<hr>

<p class="center">
<button onclick="loading()" id="continuebutton">Continuar</button><br/>
</p>

<p class="center" id="loading">
</p>

</body>

</html>