<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<script>
function ShowHelp() {
    var helpWin = window.open("", "Mainumby: Ayuda", "titlebar=yes,scrollbars=yes,status=no,top=200,left=200,width=600,height=400");
    helpWin.document.write('<html><head>' +
'<link rel="stylesheet" type=text/css href={{url_for("static", filename="style.css")}}/>' +
"<title>Mainumby: Ayuda</title></head><body>" +
"<h4 class='help'>Ayuda sobre tu nueva cuenta</h4>" +
"<p class='help'>" +
"</p></body></html>");
}
function cargando() {
    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Cargando base de datos (podría tardarse)...</span><p></p>";
}
function documento() {
    cargando();
    window.location.assign("doc");
}
function traducir() {
    cargando();
    form = document.getElementById("form");
    form.action = "tra";
    form.submit();
}
/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function mostrarDespleg() {
    menu = document.getElementById("menudespleg");
    list = menu.classList;
    list.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.despleg')) {
    var dropdowns = document.getElementsByClassName("contenido-despleg");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
/*
function OnSalir() {
    document.Form1.action = "fin"
    document.Form1.target = "_self";
    document.Form1.submit();        
    return true;
}
function loading() {
    document.getElementById("loading").innerHTML = "<span class='cargando'>Cargando base de datos (podría tardarse)...</span>";
    window.location.assign("doc");
}
*/
function cargando() {
    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Cargando base de datos (podría tardarse)...</span><p></p>";
}
function documento() {
    cargando();
    window.location.assign("doc");
}
function traducir() {
    cargando();
    form = document.getElementById("form");
    form.action = "tra";
    form.submit();
}
/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function mostrarDespleg() {
    menu = document.getElementById("menudespleg");
    list = menu.classList;
    list.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.despleg')) {
    var dropdowns = document.getElementsByClassName("contenido-despleg");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<form name="Form1" id='form' method=POST>

<table class="left">
  <tr class='brown'>
    <td class="title">
    <img class='banner' src="{{url_for('static',
      filename='banner_logo.png')}}" alt="" width="300px" height="52px" />
    </td>

    <td class="title" style="width: 625px"></td>

    <td class="menu" style="width: 140px">
      <div class='despleg-wrap'>
      <button type="button" class="despleg" onclick="mostrarDespleg()">TRADUCIR ▾</button>
      <div id="menudespleg" class="contenido-despleg">
        <span class='opinic' onclick="traducir()">ORACIÓN</span>
	<span class='opinic' onclick="documento()">DOCUMENTO</span>
      </div>
      </div>
      </td>
    <td class="menuuser" style="width: 160px">{{ user }}</td>
    <td class="menu" style="width: 140px"><a href="acerca">ACERCA DE</a></td>
    <td class="menu" style="width: 135px"><a href="contacto">CONTACTO</a></td>
  </tr>
</table>

</form>

<h4>
¡Ingresaste como <span class="username">{{ user }}</span>!
</h4>

<div id="cargando">
<p>
Para continuar, seleccioná una de las opciones bajo el menú TRADUCIR.
</p>
</div>

<!--
<hr>

<p class="left" id="loading">
<button onclick="loading()" id="button">Continuar</button><br/>
</p>
-->

</body>

</html>