<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<script>
function loading() {
    document.getElementById("loading").innerHTML = "<span class='cargando'>Cargando base de datos (podría tardarse)...</span>";
    window.location.assign("doc");
}
</script>

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<h1>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</h1>

<p class='center'>
Ingresaste como <span class="username">{{ username }}</span>.
</p>

<hr>

<p class="center">
<button onclick="loading()" id="button">Continuar</button><br/>
</p>

<p class="center" id="loading">
</p>

</body>

</html>