<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<style type="text/css">

table.login
{
    width: 70%;
    border: 0px;
    border-collapse: collapse;
/*     border: 2px solid black; */
}
</style>

<script>
function ShowHelp() {
    var helpWin = window.open("", "Mainumby: Ayuda", "titlebar=yes,scrollbars=yes,status=no,top=200,left=200,width=600,height=400");
    helpWin.document.write('<html><head>' +
'<link rel="stylesheet" type=text/css href={{url_for("static", filename="style.css")}}/>' +
"<title>Mainumby: Ayuda</title></head><body>" +
"<h4 class='help'>Ayuda para ingresar a Mainumby</h4>" +
"<p class='help'>Pod&eacute;s usar Mainumby como <strong>usuario registrado</strong> " +
"o como <strong>usuario no registrado</strong>.</p>" +
"<p class='help'>Si sos un usuario registrado, tu interacción con la aplicación se " +
"incorpora en la base de datos del sistema. Usando la información " +
"que obtiene de ti, la aplicación puede mejorar su desempeño " +
"y aumentar su memoria de traducción. " +
"Si ya ten&eacute;s una cuenta, te pod&eacute;s registrar en esta página. " +
"Si no, hac&eacute; clic en el botón 'Crear cuenta'. " +
"Si ten&eacute;s una cuenta y se te olvidó tu contraseña, desafortunadamente no " +
"es posible recuperarla porque la aplicación no almacena las contraseñas. " +
"En este caso, lo único que pod&eacute;s hacer, " +
"además de ingresar sin identificarte, " +
"es crear otra cuenta.</p> " +
"<p class='help'>" +
"Aun sin registrarte, pod&eacute;s usar la aplicación, " +
"pero tu interacción con la aplicación no se registrará " +
"de manera que nadie se aprovechará de tu conocimiento de los idiomas.</p>" +
"</body></html>");
}
<!--
function OnSalir()
{
    document.Form1.action = "fin"
    document.Form1.target = "_self";     // Same window
    document.Form1.submit();             // Submit the page
    return true;
}
-->
function documento() {
    document.getElementById("cargando").innerHTML = "<span class='cargando'>Cargando base de datos (podría tardarse)...</span>";
    window.location.assign("doc");
}
function account() {
    window.location.assign("reg");
}
function ingresar() {
    form = document.getElementById("form");
    form.action = "login";
    form.submit();
}
function traducir() {
//    form = document.getElementById("form");
    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Cargando base de datos (podría tardarse)...</span><p></p>";
    window.location.assign("tra");
//    form.action = "tra";
//    form.submit();
}
</script>

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<table class="left">
  <tr class='brown'>
    <td class="title">
    <a href="base">
    <img class='banner' src="{{url_for('static',
      filename='banner_logo.png')}}" alt="" width="300px"
      height="52px" />
    </a>
    </td>
    <td class="title" style="width: 625px"></td>

    <td class="menu" style="width: 140px">
      <div class='despleg-wrap'>
      <button type="button" class="despleg" onclick="mostrarDespleg()">TRADUCIR ▾</button>
      <div id="menudespleg" class="contenido-despleg">
        <span class='opinic' onclick="traducir()">ORACIÓN</span>
	<span class='opinic' onclick="documento()">DOCUMENTO</span>
      </div>
      </div>
      </td>
    <td class="menufuzzy" style="width: 160px">INICIAR SESIÓN</td>
    <td class="menu" style="width: 140px"><button class="menu"
      onclick="ShowHelp();">AYUDA</button></td>
    <td class="menu" style="width: 135px"><a href="contacto">CONTACTO</a></td>

  </tr>
</table>

<h1>Inicio de sesión</h1>
<div id="cargando">

{% if error %}
<p class="error">
{% if error == "password" %}
Error: ¡la contraseña que introdujiste no es correcta! Por favor
introducí otra.
{% elif error == "user" %}
Error: ¡El nombre de usuario que introdujiste no es correcto! Por
favor introducí otro nombre o ingresá sin identificarte.
{% endif %}
</p>
{% endif %}

<table class="login">
<tr>
<td class="text" colspan="3">
<form id="form" name="Form1" method="post">

<p>
<span class='label'>Nombre de usuario</span><br/>
<input type="text" name="username" class="text">
</p>

<p>
<span class='label'>Contraseña</span><br/>
<input type="password" name="password" class="text">
</p>

<p>
<input type="submit" name="login" id="widebutton" value="Ingresar">
</p>

</form>

<p>
<span class="instruction">¿No tenés una cuenta?</span><br/>
<button id="altbutton" onclick="account()">Crear cuenta</button>
</p>
</td>  

</tr>

</table>

</div>

<script async="" src="{{url_for('static', filename='Misc.js')}}"></script>
</body>

</html>