{% extends "base.html" %}

{% block script %}
<script>
function ShowHelp() {
    var helpWin = window.open("", "Mainumby: Ayuda", "titlebar=yes,scrollbars=yes,status=no,top=200,left=200,width=700,height=400");
    helpWin.document.write('<html><head>' +
'<link rel="stylesheet" type=text/css href={{url_for("static", filename="style.css")}}/>' +
"<title>Mainumby: Ayuda</title></head><body>" +
"<h4 class='help'>Ayuda para crear una cuenta</h4>" +
"<p class='help'>Sólo si ten&eacute;s una cuenta pod&eacute;s participar en el desarrollo de " +
"Mainumby. Crear una cuenta es fácil; solamente es necesario introducir un nombre " +
"de usuario, una contraseña, y tu dirección electrónica. " +
"Opcionalmente pod&eacute;s tambi&eacute;n registrar tu nombre y " +
"tu autoevalución de tu competencia en guaraní.</p>" +
"<p class='help'>La información que prove&eacute;s queda protegida; " +
"no se la damos a nadie. " +
"Como el sistema no recuerda las contraseñas, no se puede recuperar " +
"tu contraseña si la olvidás. Por eso, guardala bien.</p>" +
"</body></html>");
}
function documento() {
    document.getElementById("cargando").innerHTML = "<span class='cargando'>Cargando base de datos (podría tardarse)...</span>";
    window.location.assign("doc");
}
function traducir() {
    document.getElementById("cargando").innerHTML = "<p></p><span class='cargando'>Cargando base de datos (podría tardarse)...</span><p></p>";
    window.location.assign("tra");
}
</script>
{% endblock %}

{% block body %}
<table class="left">
  <tr class='brown'>
    <td class="title">
    <a href="/">
    <img class='banner' src="{{url_for('static', filename='banner_logo.png')}}" alt="" width="300px" height="52px" />
    </a>
    </td>
   <td class="title" style="width: 50px">
    <td class="menu" style="width: 150px">
      <div class='despleg-wrap'>
      <button type="button" class="despleg" onclick="mostrarDespleg()">TRADUCIR ▾</button>
      <div id="menudespleg" class="contenido-despleg">
        <span class='opinic' onclick="traducir()">ORACIÓN</span>
	<span class='opinic' onclick="documento()">DOCUMENTO</span>
      </div>
      </div>
      </td>
    <td class="menufuzzy" style="width: 150px">IDENTIFICARTE</td>
    <td class="menu" style="width: 150px"><button class="menu"
      onclick="ShowHelp();">AYUDA</button></td>
    <td class="menu" style="width: 150px"><a
      href="contacto">CONTACTO</a></td>
    </tr>
    <tr>
<td colspan='6' style="width: 1200px">

<h1>Creación de una cuenta</h1>

<div id="cargando">
{% if error %}
<p class="error">
{% if error == "password" %}
Error: ¡contraseñas no coinciden!
{% elif error == "username" %}
Error: ¡ten&eacute;s que introducir un nombre de usuario!
{% elif error == "email" %}
Error: ¡ten&eacute;s que introducir tu email!
{% endif %}
</p>
{% endif %}

<form name="Form1" action="reg" id="form" method="post">

<p>
<span class='label'>Nombre de usuario</span><br/>
<input type="text" name="username" id="medtext">
</p>

<p>
<span class='label'>Contraseña</span><br/>
<input type="password" name="password" id="medtext">
</p>

<p>
<span class='label'>Confirmá la contraseña</span><br/>
<input type="password" name="password2" id="medtext">
</p>

<p>
<span class='label'>Dirección de correo electrónico</span><br/>
<input type="text" name="email" id="medtext">
</p>

<p>
<span class='label'>Nombre (opcional)</span><br/>
<input type="text" name="name" id="medtext">
</p>

<p>
<span class='label'>Nivel de conocomiento del guaraní (opcional)</span><br/>
  <input type="radio" name="level" value="1"> intermedio<br/>
  <input type="radio" name="level" value="2"> excelente<br/>
  <input type="radio" name="level" value="3"> nativo
</p>

<hr>

<p>
  <input type="submit" value="Crear" name="create" id="mainbutton">
  <input type="submit" value="Cancelar" name="cancel" id="button">  
</p>

</form>

</div>
</td>
</tr>
</table>

{% endblock %}
