<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type=text/css href="{{url_for('static', filename='style.css')}}" />

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<h1>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</h1>

<h2>Crear una cuenta
</h2>

{% if error %}
<p class="error">
{% if error == "password" %}
Error: ¡contraseñas no coinciden!
{% elif error == "username" %}
Error: ¡ten&eacute;s que introducir un nombre de usuario!
{% elif error == "email" %}
Error: ¡ten&eacute;s que introducir tu email!
{% endif %}
</p>
{% endif %}

<form name="Form1" action="reg" method="post">

<p>
<span class='label'>Nombre de usuario</span><br/>
<input type="text" name="username" id="medtext">
</p>

<p>
<span class='label'>Contraseña</span><br/>
<input type="password" name="password" id="medtext">
</p>

<p>
<span class='label'>Confirmá la contraseña</span><br/>
<input type="password" name="password2" id="medtext">
</p>

<p>
<span class='label'>Dirección de correo electrónico</span><br/>
<input type="text" name="email" id="medtext">
</p>

<p>
<span class='label'>Nombre (opcional)</span><br/>
<input type="text" name="name" id="medtext">
</p>

<p>
<span class='label'>Nivel de conocomiento del guaraní (opcional)</span><br/>
  <input type="radio" name="level" value="1"> intermedio<br/>
  <input type="radio" name="level" value="2"> excelente<br/>
  <input type="radio" name="level" value="3"> nativo
</p>

<hr>

<p>
<input type="submit" value="Creá tu cuenta" name="create" id="medbutton">
</p>

</form>

</body>

</html>