<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type=text/css href="{{url_for('static', filename='style.css')}}" />

<style type="text/css">
table.trans
{
    border: 2px solid black;
    border-collapse: collapse;
}
th.trans
{
    text-align: left;
    font-style: italic;
    padding: 3px;
    border: 1px solid black;
}
td.trans
{
   text-align: left;
   vertical-align: top;
   padding: 5px;
   font-style: italic;
   border: 1px solid black;
}
td.segsent
{
   text-align: left;
   vertical-align: top;
   padding: 5px;
   font-style: italic;
}
td.button
{
   text-align: center;
   padding: 5px;
}
td.other
{
   text-align: left;
   padding: 5px;
   border: 1px solid black;
   font-style: italic;
   font-size: 80%;
}
textarea#sentence
{
   font-family: "Verdana";
   font-size: 100%;
   width: 100%;
   height: 50px;
}
textarea#document
{
   font-family: "Verdana";
   font-size: 75%;
   width: 350px;
   height: 400px;
   resize: none;
   overflow-y: scroll;
}
textarea#segment
{
   font-family: "Verdana";
   font-size: 100%;
   width: 250px;
   height: 25px;
}
span#doctrans
{
   color: #00a;
}
input.button
{
   background-color: #00a;
   color: #fff;
   font-family: "Verdana";
   font-size: 100%;
   align: center;
   width: 100%;
}
input.button:hover
{
   background-color: #00f;
}
</style>

<script>
function ShowHelp() {
    var helpWin = window.open("", "Mainumby: Ayuda", "titlebar=yes,scrollbars=yes,status=no,top=200,left=200,width=700,height=400");
    helpWin.document.write('<html><head>' +
'<link rel="stylesheet" type=text/css href={{url_for("static", filename="style.css")}}/>' +
"<title>Mainumby: Ayuda</title></head><body>" +
"<h4>Ayuda para seleccionar traducciones</h4>" +
"<p>En la ventana 'Traducción de oraciones' " +
"se presenta una oración y varias opciones para traducirla. " +
"La oración se despliega dividida en frases, cadu una representada por un color. " +
"Para ver las opciones que ofrece Mbojereha como traducciones de una frase, " +
"hac&eacute; clic en esa frase. " +
"Abajo se presentan las opciones a la izquierda en el espacio llamado " +
"'Sugerencias'." +
"</p></body></html>");
}
function OnRegOra(raw, punc) {
    var sentval = document.getElementById("sentence").value;
    var sentend = sentval.charAt(sentval.length-1);
    if ('.?!'.indexOf(sentend) == -1) {
        sentval += punc;
        document.getElementById("sentence").value += punc;
    }
    // Add the sentence and its translation to the doc textarea
    document.getElementById("document").value += raw + "\n"+ sentval + "\n"
    document.Form1.oratra.value = sentval;
}
function OnRegFrase() {
    var sentval = document.getElementById("sentence").value;
    var segtrans = document.getElementById("segment").value;
    var segment = document.Form1.seg.value;
    var radio = document.Form1.choice;
    var choice = "";
    var fratra = document.Form1.fratra.value;
    if (segtrans != "") {
        segtrans = limpiarGrn(segtrans);
        alert("Segtrans " + segtrans);
        document.Form1.fratra.value += "||" + segment + "=" + segtrans;
        if (segtrans == "0") {
            // User wants no translation for this segment.
            return true;
        } else if (sentval == "") {
           // Beginning of the sentence.
            segtrans = capitalize(segtrans);
        } else {
            segtrans = " " + segtrans;
        }
        document.getElementById("sentence").value += segtrans;
    } else {
        for (var i = 0; i < radio.length; i++) {
            if(radio[i].checked) {
                choice = radio[i].value;
                if (choice == "other") {
                    document.getElementById("error").innerHTML = "¡Es necesario seleccionar una opción o introducir otra traducción!";
                    return false;
                }
            }
        }
        document.getElementById("segment").value = choice;
        document.Form1.fratra.value += "||" + segment + "=" + choice;
        if (sentval == "") {
            choice = capitalize(choice);
        } else {
            choice = " " + choice;
        }
        document.getElementById("sentence").value += choice;
    }
    return true;
}
function Segment(text, segment, color) {
    var fratra = document.Form1.fratra.value;
    var formatted = "<font color=" + color + ">" + text + "</font>";
    // Clear error space.
    document.getElementById("error").innerHTML = "";
    if (fratra.includes(segment)) {
        document.getElementById("error").innerHTML = "¡Ya seleccionaste una traducción para " + segment + "!";
        return false;        
    }
    document.getElementById('segtra').innerHTML = formatted;
    document.Form1.seg.value = segment;
    document.getElementById("segment").value = '';
}
function capitalize(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
function limpiarGrn(string) {
    // Clean up Guarani string, replacing characters if necessary.
    string = string.replace(/[âä]/, "ã");
    string = string.replace(/à/, "á");
    string = string.replace(/[êë]/, "ẽ");
    string = string.replace(/è/, "é");
    string = string.replace(/[îï]/, "ĩ");
    string = string.replace(/ì/, "í");
    string = string.replace(/[ôö]/, "õ");
    string = string.replace(/ò/, "ó");
    string = string.replace(/[ûü]/, "ũ");
    string = string.replace(/ù/, "ú");
    string = string.replace(/[ŷÿ]/, "ỹ");
    string = string.replace(/ỳ/, "ý");
    string = string.replace(/[’`´°‘]/, "'");
    string = string.replace(/ĝ/, "g̃");
    return string;
}
</script>

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<h1>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</h1>

<h2>Traducción de oraciones
</h2>

<p id="error" class="error">
</p>

<form name="Form1" method=POST action='sent'>

{% if sentence %}
<p></p><p></p>

{# Write the sentence with colors representing different translated segments #}
<h3>Actual oración</h3>
<span class="sentence">
{% for seg in sentence %}
{# Each segment responds to mouse clicks which replace the segtra
section with a table of translations and sets the value of the seg form variable #}
<span onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'"
onclick="Segment({{'%r'|format(seg[2])|e}}, {{'%r'|format(seg[0])|e}}, {{'%r'|format(seg[1])|e}});">
  <span style='color:{{ seg[1] }};'> {{ seg[0] }} </span></span>
{% endfor %}
</span>
<p></p>

<hr/>

{% endif %}

<h3>Traducción</h3>

<table>
  <tr>
<td class="segsent">
<table class="trans">
<tr>
  <th class="trans">Frase</th>
  <td class="trans">
  <input type="button" class="button" name="freg" onclick="OnRegFrase();" value="Registrar traducción">
  </td>
</tr>
<tr>
<td class="trans">Sugerencias de Mbojereha</td>
<td class="trans">Otra traducción</td>
</tr>
<tr>
<td class="trans">
<p id="segtra"></p>
</td>
<td class="trans">
    <textarea name="UTraSeg" id="segment"></textarea>
</td>
</tr>
<tr>
  <th class="trans">Oración entera</th>
  <td class="button">
    <input type="button" class="button" name="oreg"
    onclick="OnRegOra({{'%r'|format(raw)|e}}, {{'%r'|format(punc)|e}});" value="Registrar traducción">
    </td>
</tr>  
<tr>
  <td class="trans" colspan="2">
    <textarea name="UTraOra" id="sentence" value=""></textarea>
  </td>
</tr>
</table>
</td>
<td>
  <table>
  <tr>
    <th class="trans">Documento</th>
  </tr>
  <tr>
  <td class="trans" rowspan="4">
  <textarea name="UTraDoc" id="document" value=""></textarea>
  </td>
  </tr>
  </table>    
</td>
</tr>
</table>

<p>
<input type="submit" id="button" action="sent" name="sent" value="Próxima oración">
</p>

<input type="hidden" name="seg" value="">
<input type="hidden" name="oratra" value="">
<input type="hidden" name="fratra" value="">

</form>

<!--
<p>
<button id="button" onclick="ShowDoc();">Mostrar documento</button>
</p>
-->

<p>
<button id="help" onclick="ShowHelp();">Ayuda</button>
</p>

</body>

</html>