<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css')}}" />

<style type="text/css">
span.root
{
   font-weight: bold;
   color: #900;
   border: thin solid;
}
span.sentence
{
   font-size: 100%;
   font-weight: bold;
   border: thin solid;
}
span.choice
{
   font-size: 80%;
}
span.instruction
{
   font-size: 100%;
   font-style: italic;
}
table
{
   border-collapse: collapse;
}
th.TM
{
   max-width: 35%;
   color: silver;
}
td.mbojereha
{
   text-align: center;
   padding: 20px;
}
td.trans
{
   text-align: left;
   padding: 5px;
}
</style>

<script>
function OnRegistrar()
{
    document.Form1.action = "sent"
    document.Form1.target = "_self";     // Same window
    document.Form1.submit();             // Submit the page
    return true;
}
function Segment(text, segment) {
    document.getElementById('segtra').innerHTML = text;
    document.Form1.seg.value = segment;
}
</script>

<title>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</title>

</head>

<body>

<h1>Mainumby: un Ayudante para la Traducción Castellano-Guaraní</h1>

<form name="Form1" method=POST action='sent'>

{% if sentence %}
<p></p><p></p>

{# Write the sentence with colors representing different translated segments #}
<p>Actual oración:
<span class='sentence'>
{% for seg in sentence %}
{# Each segment responds to mouse clicks which replace the segtra
section with a table of translations and sets the value of the seg form variable #}
<span onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'"
onclick="Segment({{'%r'|format(seg[2])|e}}, {{'%r'|format(seg[0])|e}});">
<font color={{ seg[1] }}> {{ seg[0] }} </font></span>
{% endfor %}
</span>
<p></p>

<input type=submit style="font-family: Verdana; font-size: 80%;"
action='sent' name='sent' value='Próxima oración'>

<hr/>

{% endif %}

<h3>Sugerencias</h3>

<table border=1>
  <tr><th>Mbojereha</th><th class='TM' color="silver">Mandu'a</th></tr>
  <tr><td class='mbojereha' id="segtra"></td><td><p>  </p><p>  </p><p>  </p><p>  </p></td></tr>
</table>

<hr/>

<input type='hidden' name='seg' value=''>

<h3>Tu traducción</h3>
<table>
<tr>
   <th>De esta frase</th>
   <th>De la oración entera</th>
</tr>
<tr>
  <td>
    <TEXTAREA NAME="UTraSeg" ROWS=2 COLS=30 style="font-family:Verdana"></TEXTAREA>
  </td>
  <td>
    <TEXTAREA NAME="UTraOra" ROWS=2 COLS=50 style="font-family:Verdana"></TEXTAREA>
  </td>
</tr>
</table>

<p>
<input type=submit value='Registrar traducción' name='reg'
action='sent' style="font-family: Verdana; font-size: 80%;">
</p>

</form>

</body>

</html>