body
{
	margin-left: 25pt;
	margin-right: 20pt;
	margin-top: 20pt;
	margin-bottom: 20pt;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-family: verdana, geneva, arial, sans-serif;
	background-color: #FFF;
}
a:link { color: #009900; }
span.fuzzy a:link { color: #66BB66; }
a:visited { color: #006600; }
span.fuzzy a:visited { color: #558855; }
a:active { color: #000000; }
a:hover { background-color: #009900; color: #FFFFFF; }
span.fuzzy a:hover { background-color: #66FF66; color: #FFFFFF; }
h1,h2,h3 { clear: left; }
h1
{
	font-size: 140%;
	margin-top: .25em;
	margin-bottom: 0;
        border-bottom: thin solid;
	text-align: center;
	font-weight: bold;
	color: #C00;
}
h2
{
	font-size: 120%;
	font-weight: bold;
	margin-top: .75em;
	margin-bottom: .35em;
        text-align: center;
        color: #00F;
}
h3
{
 	font-size: 110%;
	font-weight: bold;
	margin-top: .5em;
	margin-bottom: .5em;
}
h4
{
 	font-size: 110%;
	font-weight: bold;
	margin-top: .5em;
	margin-bottom: .5em;
}
p
{
	margin-top: .5em;
	margin-bottom: .5em;
        clear: left;
}
p.center
{
        margin-top: .5em;
        margin-bottom: .5em;
        text-align: center;
}
p.error
{
    color: #f00;
    font-style: italic;
}
th.TM
{
   max-width: 35%;
   color: silver;
}
td.mbojereha
{
   text-align: center;
   padding: 20px;
}
td.text
{
        vertical-align: top;
        text-align: center;
        width: 50%;
        border: 1px solid black;
}
#help
{
        background-color: #c00;
        color: #fff;
        font-family: "Verdana";
        font-size: 100%;
        width: 20%
}
#help:hover
{
        background-color: #f00;
}
span.label
{
        font-weight: bold;
}
span.document
{
   font-size: 100%;
   font-weight: bold;
   color: #F00;
   border: thin solid;
}
span.instruction
{
   font-size: 100%;
   font-style: italic;
}
span.cargando
{
    font-size: 110%;
    font-weight: bold;
    font-style: italic;
}
span.username
{
        background-color: #f00;
        color: #fff;
}
span.root
{
   font-weight: bold;
   color: #900;
   border: thin solid;
}
span.sentence
{
   font-size: 100%;
   font-weight: bold;
   border: thin solid;
}
span.choice
{
   font-size: 80%;
}
span.instruction
{
   font-size: 100%;
   font-style: italic;
}
#text
{
        font-family: "Verdana";
        font-size: 100%;
        width: 80%
}
#medtext
{
        font-family: "Verdana";
        font-size: 100%;
        width: 30%
}
#button
{
        background-color: #00a;
        color: #fff;
        font-family: "Verdana";
        font-size: 100%;
        align: center;
        width: 20%
}
#button:hover
{
        background-color: #00f;
}
#medbutton
{
        background-color: #00a;
        color: #fff;
        font-family: "Verdana";
        font-size: 100%;
        width: 30%
}
#medbutton:hover
{
        background-color: #00f;
}
#widebutton
{
        background-color: #00a;
        color: #fff;
        font-family: "Verdana";
        font-size: 100%;
        align: center;
        width: 80%
}
#widebutton:hover
{
        background-color: #00f;
}
#lightbluebutton
{
        color: #00f;
        font-family: "Verdana";
        font-size: 100%;
        width: 80%;
        align: center;
}
#lightbluebutton:hover
{
        background-color: #ccf;
}
#narrowlbbutton
{
        color: #00f;
        font-family: "Verdana";
        font-size: 100%;
        width: 20%;
        align: center;
}
#narrowlbbutton:hover
{
        background-color: #ccf;
}
